#### 함수
- 특정 목적을 가진 독립된 코드 집합
  - 두 수를 입력받아 더한 값을 계산하는 코드
  - 더한 값을 계산하는 코드가 프로그램 여러 곳에서 사용된다고 할 때 이 부분만을 따로 구성하여 재사용하면 효율화할 수 있음
- 사용자 함수는 def로 시작하여 정의

In [1]:
def add_number(n1, n2):
   ret = n1+n2
   return ret

def add_txt(t1, t2):
   print(t1+t2)
 
ans1 = add_number(10, 15)
print(ans1)                   # 25가 출력됨
ans2 = add_number(20, 25)
print(ans2)   
text1 = '대한민국~'
text2 ='만세!!'
add_txt(text1, text2)         # ‘대한민국~만세!!’가 출력됨

25
45
대한민국~만세!!

In [7]:
# 함수 인자 : 기본적으로 인자 순서에 대응되는 값을 함수 코드에 대입
def add_txt(t1, t2='파이썬'): # t2 기본값을 대입한 기본 인자는 마지막에 위치해야 함
   print(t1+' : ' +t2)
   
add_txt('베스트')                   # ‘베스트 : 파이썬’이 출력됨. t1은 베스트, t2는 기본값이 대입
add_txt(t2='대한민국', t1='1등')    # ‘1등 : 대한민국’이 출력됨. 키워드 인자에 의한 값 전달. 인자의 순서는 무시

def func1(*args): # 인자의 개수가 불명확한 경우 가변 인자 사용. args는 함수 내부에서 튜플로 처리
   print(args)

def func2(width, height, **kwargs): # 키워드 인자가 불명확한 경우 **kwargs를 사용. 함수 내부에서 사전으로 처리
   print(kwargs)

func1()                          # 빈 튜플 ( ) 이 출력됨
func1(3, 5, 1, 5, 8)                  # (3, 5, 1, 5)가 출력됨
func2(10, 20)                          # 빈 사전 { }이 출력됨
func2(10, 20, depth=50, color='blue')  #{‘depth’:50, ‘color’:’blue’} 이 출력됨

베스트 : 파이썬
1등 : 대한민국
()
(3, 5, 1, 5, 8)
{}
{'depth': 50, 'color': 'blue'}

In [5]:
def func2(width, height, **kwargs):
    return width, height, kwargs

# func2(10, 20) 
func2(10, 20, depth=50, color='blue')

(10, 20, {'depth': 50, 'color': 'blue'})

#### 인자와 리턴값 여부에 따른 함수 유형

In [ ]:
# 입력값이 없고 결과값만 있는 함수
def say():
    return 'HI'

a = say()
print(a)

HI

In [7]:
# 입력값은 있고 결과값이 없는 함수
# 결과값은 오직 return 명령어로만 돌려 받을 수 있음
def add(a,b):
    print('%d, %d의 합은 %d입니다.' %(a,b,a+b))
# add(3,4)
a = add(3,4)
print(a)

3, 4의 합은 7입니다.
None

In [8]:
def add(a,b):
    return a+b
a = add(3,4)
print(a)
# add(3,4)

7

In [8]:
# 입력값도 결과값도 없는 함수

def say():
    print('Hi')
    
a = say()
print(a)

Hi
None

In [9]:
# 입력값, 결과값이 모두 있는 함수
def max(a,b,c):
    if a>b:
        if a>c:
            return a
        elif a<c:
            return c
    if a<b:
        if b>c:
            return b
        else:
            return c

# print("가장 큰 수는 %d입니다." %(max(20,1,30)))
max(10,20,30)

30

In [10]:
def math(x, y, z):
    if z == '*':
        return x*y
    elif z== '/':
        return x/y
    elif z== '+':
        return x+y
    elif z== '%':
        return x%y
    elif z== '^':
        return x**y
    elif z== '-':
        return x-y
    elif z== '//':
        return x//y
    else:
        return

# print(math(int(input("숫자1 : ")), int(input("숫자2 : ")), input("기호 : ")))
math(10,2,'//')

5

In [ ]:
def com(a,b):
    if a>b:
        return f'{a} bigger than {b}'
    elif a<b:
        return f'{a} smaller than {b}'
    else:
        return f'{a} equal {b}'
com(3,3)

'3 equal 3'

In [12]:
# 여러 개의 입력값을 받는 함수 만들기
# *args 처럼 입력 변수명 앞에 * 를 붙이면 입력값들을 전부 모아서 튜플로 만들어 줌

def add_many(*args):
    add = 0
    for i in args:
        add += i
    return add

# add_many(1,2,3,4,5,6,7,8,9,10)
add_many(1,2,3,4,5)

15

In [ ]:
# 함수의 반환 값은 언제나 하나임 - 결과 값으로 튜플 값 하나를 갖게 됨
def add_and_mul(a,b):
    return a+b, a*b

result = add_and_mul(3,4)
print(result)

(7, 12)

In [ ]:
# add_mul() 함수를 정의하여 1,2,3,4,5를 입력 값으로 적용하여 덧셈,곱셈 연산을 수행하세요.
def add_mul(choice, *args):
    
    
add_mul('add', 1,2,3,4,5)

In [14]:
def add_mul(choice, *args):
    if choice == '+':
        result = 0
        for i in args:
            result += i
        return result
    elif choice == '*':
        result = 1
        for i in args:
            result *= i
        return result
    else :
        print('수행할 수 없는 연산입니다.')

add_mul('*',1,2,3,4,5)
add_mul('+',1,2,3,4,5)

15

In [ ]:
# [과제] 뻴셈, 나눗셈 멀티 계산 함수를 작성
# ('sub', 2,4,6,8,10)
# ('div', 2,4,6,8,10)

In [18]:
def sub_div (choice, *args) :
    if choice == "sub":
        result = args[0]
        for i in args[1:] : 
            result -= i
        return result
    elif choice == 'div':
        result = args[0]
        for i in args[1:] :
            if i == 0:
                return print("오류")
            result /= i
        return round(result,4) 

print(sub_div('sub', 2,4,6,8,10))
print(sub_div('div', 2,4,6,8,10))

-26
0.001

#### 지역변수와 전역변수
- 지역변수는 함수 내부에서만 유효하고 
- 전역변수는 코드 전반에 걸쳐 유효
- 함수의 인자는 지역변수

In [20]:
strdata = '전역변수'

def func1():
   strdata = '지역변수'
   print(strdata)
    
func1()                  # ‘지역변수’가 출력됨

지역변수

In [21]:
print(strdata)           # ‘전역변수’가 출력됨

전역변수

In [22]:
param = 10
def func2(param):       
   param = 1

print(param)             # 전역변수 10이 출력됨

10

In [23]:
param = 10
def func2(param):       
   param = 1

print(param)             # 전역변수 10이 출력됨

10

In [24]:
param = 10
def func3():
   global param         # 함수 내부에서 전역변수를 사용하려면 'global' 키워드를 이용해 전역변수를 사용한다고 명시
   param = 50
func3()
print(param)             # 50이 출력됨

50

In [25]:
param = 10
strdata = '전역변수'

def func1():
   strdata = '지역변수'
   print(strdata)
   
def func2(param):
   param = 1
   
def func3():
   global param
   param = 50
   
func1()                  # ‘지역변수’가 출력됨
print(strdata)           # ‘전역변수’가 출력됨
print(param)             # 10이 출력됨
func2(param)
print(param)             # 10이 출력됨
func3()
print(param)             # 50이 출력됨

지역변수
전역변수
10
10
50

In [ ]:
# 함수 안에서 선언된 변수의 효력 범위
a = 1
def vartest(a):    
    a = a + 1
    
print(vartest(a))
print(a)

None
1

In [ ]:
# 함수 안에서 함수 밖의 변수를 변경하는 방법 - return 이용

a = 1
def vartest(a):
    a =  a+1
    return a
a = vartest(a)
print(a)

2

In [ ]:
# global 명령을 이용하는 방법
a = 1
def vartest():
    global a
    a = a + 1
    
vartest()
print(a)

2

#### 함수 리턴값 : return
- 함수는 한 개 이상의 값을 리턴할 수 있으며 리턴값이 없을 수도 있다.
- 리턴 값이 여러 개인 경우에는 튜플로 리턴값을 만들어 리턴

In [26]:
def reverse(x, y, z):
   return z, y, x

ret = reverse(1, 2, 3)
print(ret)                       # (3, 2, 1)이 출력됨

r1, r2, r3 = reverse('a', 'b', 'c')  
print(r1,r2,r3)
print(r1); print(r2); print(r3)      # 튜플의 요소 개수만큼 나누어서 리턴값을 개별적으로 받을 수 있음

(3, 2, 1)
c b a
c
b
a

In [27]:
# 현재 작업 폴더
%pwd

'C:\\hmkd1\\m1_programming'

In [28]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 1E31-6082

 C:\hmkd1\m1_programming 디렉터리

2023-03-14  오후 02:20    <DIR>          .
2023-03-14  오후 02:20    <DIR>          ..
2023-03-14  오후 12:02    <DIR>          .ipynb_checkpoints
2023-03-09  오후 03:38                18 foo.txt
2023-03-09  오후 01:47            90,666 p1_기초.ipynb
2023-03-08  오전 09:59           147,052 p1_기초_org.ipynb
2023-03-10  오전 11:35    <DIR>          program
2023-03-09  오후 04:27           332,935 python_codingTest.ipynb
2023-03-13  오후 03:20           160,048 python_기초_indetail.ipynb
2023-03-14  오전 10:33           155,646 python_기초_indetail_guide.ipynb
2023-03-09  오후 04:52            10,063 python_날짜.ipynb
2023-03-10  오전 11:37            11,421 python_예외처리.ipynb
2023-03-09  오전 08:34            47,246 python_정규표현식.ipynb
2023-03-09  오후 02:48            68,324 python_클래스.ipynb
2023-03-14  오후 02:17            60,075 python_함수_indetail.ipynb
2023-03-14  오후 02:20            47,438 python_함수_indetail_guide.ipynb
2023-03-09  오후 02:39        23,832,000 python_함수응용.ipynb
2023-03-09  오후 04:07                40 test.txt
2023-03-09  오후 03:39               261 test2.txt
2023-03-09  오후 03:30               261 test_new.txt
2023-03-07  오후 04:25           338,933 과제.ipynb
2023-03-08  오전 10:55            20,241 과제_정규표현식.ipynb
2023-03-08  오전 11:58             5,051 날짜_연습.ipynb
2023-03-10  오전 11:58            16,924 예외처리.ipynb
2023-03-08  오전 10:55            47,246 정규표현식.ipynb
2023-03-08  오전 10:55            68,340 클래스.ipynb
2023-03-10  오전 10:14            44,166 함수.ipynb
2023-03-08  오후 12:01        23,834,189 함수_응용.ipynb
              24개 파일          49,338,584 바이트
               4개 디렉터리  54,855,516,160 바이트 남음

#### 파일 입출력

In [31]:
# 폴더 경로 이동
import os
os.chdir('C:/hmkd1/m1_programming')

In [32]:
%pwd

'C:\\hmkd1\\m1_programming'

In [12]:
# 파일 읽고 쓰기
f = open('test1.txt','w')
f.close()

In [33]:
f = open('test1.txt','w')
for i in range(1,11):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

In [34]:
f = open('test1.txt','r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [35]:
f = open('test1.txt', 'r')
for i in range(10):
    line = f.readline()
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [17]:
f = open('test1.txt','r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [18]:
# f.read()는 파일 내용 전체를 문자열로 반환
f = open('test1.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [19]:
f = open('test1.txt', 'a')
for i in range(11,16):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

In [20]:
f = open('test1.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [21]:
# with문과 같이 사용
with open('foo.txt','w') as f:
    f.write('파이썬을 배웁시다.')

In [22]:
with open('foo.txt','r') as f:
    data = f.read()
    print(data)

파이썬을 배웁시다.

In [23]:
with open('test2.txt','w') as f:
      for i in range(1,11):
          data = f'{i}번째 줄입니다.\n'
          f.write(data)

In [24]:
with open('test2.txt','a') as f:
      for i in range(11,16):
          data = f'{i}번째 줄입니다.\n'
          f.write(data)

In [25]:
with open('test2.txt','r') as f:
    data = f.read()
    print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

#### 파이썬 패키지,  모듈, 함수, 클래스
- 코드 작성 시 이미 만들어져 있는 함수들을 활용하면 보다 효율적이고 빠르게 개발 가능
- 이미 만들어져 있고 안정성이 검증된 함수들을 성격에 맞게 하나의 파이썬 파일에 묶어 만들어 놓을 것을 모듈이라 함
- 외부 모듈에 있는 함수들을 활용하려면 이 모듈을 먼저 가져와서 사용해야 하는데 이것을 모듈을 임포트한다고 한다.
- 파이썬 모듈이 하나의 파이썬 파일이라면 패키지는 디렉토리로 볼 수 있다.

패키지
1. 라이브러리라고도 부름
2. 특정 기능과 관련된 여러 모듈을 한 그룹으로 묶은 것
3. 패키지 안에 서브패키지가 있을 수도 있다.
4. import 패키지/모듈, from 패키지/모듈 import 서브패키지/모듈 
  
   
모듈
1. 여러 기능들이 뭉쳐진 하나의. py파일
2. 함수, 클래스, 변수 등 포함
3. import 모듈

함수
1. 하나의 기능을 가진 코드의 집합
2. 함수를 사용한다 = 함수를 호출한다
3. 함수 사용 형태: 함수( )
   - 필요한 경우 () 안에 매개변수 또는 옵션
4. 종류
   - 내장 함수(built in function)
   - 외장 함수: import 해주어야 함
   
클래스   
- 파이썬은 객체 지향 언어로클래스를 기반으로 객체를 만들어 사용한다.
- 한 파이썬 파일(. py) 내에서 "class class명():"을 통해 클래스 선언

In [38]:
# time 모듈
import time

print('5초간 프로그램을 정지합니다.')
time.sleep(5)
print('5초가 지나갔습니다.')

5초간 프로그램을 정지합니다.
5초가 지나갔습니다.

In [2]:
# 사용자 작성 모듈
with open('mymodule.py','w') as f:
    f.write(
'''
def add_txt(t1,t2):
    return t1+':'+t2
def reverse(x,y,z):
    return z,y,x
''')

In [3]:
with open('mymodule.py','r') as f:
    data = f.read()
    print(data)

def add_txt(t1,t2):
    return t1+':'+t2
def reverse(x,y,z):
    return z,y,x

In [5]:
import mymodule

ret1 = mymodule.add_txt('대한민국','1등')
print(ret1)

대한민국:1등

In [6]:
ret2 = mymodule.reverse(1,2,3)
print(ret2)

(3, 2, 1)

In [9]:
# 클래스
class MyClass:
    var = '안녕하세요'
    def sayHello(self):
        print(self.var)
        
obj = MyClass() # MyClass 인스턴스 객체 생성
print(obj.var)
print(obj.sayHello())

안녕하세요
안녕하세요
None

In [ ]:
# !pip list
# !pip install pandas

# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html

In [14]:
import pandas as pd

df1 = pd.DataFrame({'a': [1, 2, 3], 'b': [4,5,6], 'c': [7, 8,9]})
df1

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [12]:
import numpy as np
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
                   columns=['a', 'b', 'c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [15]:
data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)])
df3 = pd.DataFrame(data, columns=['a', 'b', 'c'])
df3

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

내장함수, 외장함수

https://codedrive.tistory.com/91

In [ ]:
# 내장함수
print(abs(-3))
print(all([1,2,3,0])) # x가 모두 참이면 True, 거짓이 하나라도 있으면 False
print(any([1,2,3,0])) # x가 하나라도 참이면 True, 모두 거짓이면 False
print(chr(65)) # 아스키코드

3
False
True
A

In [ ]:
sum = lambda a,b:a+b
sum(3,4)

7

In [1]:
def sum(a,b):
    return a+b

print(sum(3,4))

7

In [2]:
myList = [lambda a,b:a+b, lambda a,b:a*b]
print(myList[0](3,4))
print(myList[1](3,4))

7
12

In [3]:
fo=[lambda a,b:a+b,lambda a,b:a-b,lambda a,b:a*b,lambda a,b:a/b]
for i in range(0,4):
    print(fo[i](2,5))

7
-3
10
0.4

In [ ]:
print(len('python'))
print(len([1,2,3]))
print(len([1,2,'a']))

6
3
3

In [5]:
list(range(5))
list(range(1,6))
list(range(1,10, 2))
list(range(0, -10, -1))
# list(range(0,-10))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [6]:
# 몫과 나머지
print(divmod(7,3))

(2, 1)

In [ ]:
# 순서가 있는 자료형을 입력으로 받아 인덱스 값을 포함한 enumerate 객체를 리턴
for i, name in enumerate(['james','tom','susan']):
    print(i,name)

0 james
1 tom
2 susan

In [ ]:
# 실행 가능한 문자열 입력으로 받아 문자열을 실행한 결과값을 리턴
print(eval('1+2'))

3

In [9]:
# 외장함수 : 전 세계 파이썬 사용자들이 만든 유용한 프로그램을 모아 놓은 파이썬 라이브러리. 파이썬을 설치할 때 자동으로 설치
# pickle은 객체의 형태를 유지하면서 파일에 저장하고 불러올 수 있게 하는 모듈

import pickle
f = open('test3.txt', 'wb')
data = {1:'python',2:'you need'}
pickle.dump(data,f)
f.close()

In [10]:
import pickle
f = open('test3.txt','rb')
data = pickle.load(f)
print(data)
f.close()

{1: 'python', 2: 'you need'}

In [30]:
import os
os.environ['PATH']

'C:\\Users\\h\\anaconda3;C:\\Users\\h\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\h\\anaconda3\\Library\\usr\\bin;C:\\Users\\h\\anaconda3\\Library\\bin;C:\\Users\\h\\anaconda3\\Scripts;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\WINDOWS\\System32\\OpenSSH\\;C:\\Users\\h\\anaconda3;C:\\Users\\h\\anaconda3\\Library\\bin;C:\\Users\\h\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\h\\anaconda3\\Scripts;C:\\Users\\h\\AppData\\Local\\Microsoft\\WindowsApps;'

In [34]:
%pwd

'C:\\hmkd1\\m1_programming'

In [31]:
# 폴더변경
os.chdir('C:\\hmkd1')

In [33]:
os.chdir('C:\\hmkd1\\m1_programming')

In [35]:
os.getcwd()

'C:\\hmkd1\\m1_programming'

In [ ]:
!dir

In [37]:
import os
os.rename('test1.txt','test_new.txt')

In [39]:
# glob() 함수는 인자로 받은 패턴과 이름이 일치하는 모든 파일과 디렉토리의 리스트를 반환
import glob
glob.glob('C:\\hmkd1\\m1_programming/*.txt')

['C:\\hmkd1\\m1_programming\\foo.txt',
 'C:\\hmkd1\\m1_programming\\test.txt',
 'C:\\hmkd1\\m1_programming\\test2.txt',
 'C:\\hmkd1\\m1_programming\\test_new.txt']

In [11]:
#[과제] 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(3가지 방법)
list=[0,1,2,3,4,5,6]
# del list[2] # 인덱스
list.remove(2) # 값
# list.pop(2)
print(list)

[0, 1, 3, 4, 5, 6]

In [14]:
list=[0,1,2,3,4,5,6]
print(list.pop(2))
list

2

[0, 1, 3, 4, 5, 6]

In [12]:
#[과제]  내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 모든 원소를 삭제 후 출력하세요.
list = [0,1,2,3,4,5,6]
del list[:]
print(list)

[]

In [ ]:
#[과제]  람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요
[1,2,3,4,5] -> [1,4,9,16,25]
[1,2,3,4,5] -> [1,2]

In [15]:
list=[1,2,3,4,5]
list_n=[]
x=lambda a:a**2  

for i in list:          # [1,2,3,4,5] -> [1,4,9,16,25]
    list_n.append(x(i))
   
del(list[2:])           # [1,2,3,4,5] -> [1,2]

print(list_n)         #함수호출
print(list)

[1, 4, 9, 16, 25]
[1, 2]

In [1]:
x=lambda a:a**2
lst = [x(i) for i in range(1,6)]
print(lst,'\n')

lst2 = [1,2,3,4,5]
filtered_list = filter(lambda a: (a<3), lst2)
print(list(filtered_list))

[1, 4, 9, 16, 25]

[1, 2]

In [3]:
#[과제]  [1,-3,2,0,-5,6] 에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)

list1 = [1,-3,2,0,-5,6]   
        
print(list(filter(lambda x: x > 0, list1)))

[1, 2, 6]

In [5]:
def even(arr):
    result=[]
    for i in arr:
        if i>0:
            result.append(i)
    return result
print(even([1,-3,2,0,-5,6]))

[1, 2, 6]

In [ ]:
#[과제] 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요
[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]
[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]
('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [7]:
a = [1, 2, 3]
b = [4, 5, 6]
c = [7, 8, 9]

ab = list(zip([1,2,3],[4,5,6]))
print(ab)
                        
abc = list(zip([1,2,3],[4,5,6], [7,8,9]))
print(abc)

alp_1 = list(zip('abc', 'def'))
print(alp_1)

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [6]:
lista=[[1,2,3],[4,5,6],[7,8,9]]
listb=sum(lista,[])
lista_n=[]

for k in range(len(lista[0])):
    tup1=tuple(listb[k::3])
    lista_n.append(tup1)

print(lista_n)

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [15]:
#[과제] 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.
def sum(mun):
    print(f"합: {eval(mun)}")    #입력된 문자열이 연산이 가능한 형태면 연산해 줌
    print(f"평균: {(eval(mun)/len(mun.split('+'))):0.2f}")

###################################################

mun=input("평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분): ")
mun_n=mun.replace(',','+')    #1,2,3 -> 1+2+3

sum(mun_n)

평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분): 1,2,3
합: 6
평균: 2.00

In [16]:
def average(*args):
    x=0
    for i in args:
        x=(x+i)
    result=x/len(args) 
    return result

r=average(1,2,3,4,5)    
print(r)

3.0

In [17]:
# Q. 동일한 사용자 함수를 만들어서 1~100의 합과 200~300의 합을 구하세요.
def sum(first, end):
    result=0
    for i in range(first,end+1):
        result+=i
    return result

print(sum(100,200))   #n~m 사이의 합 구하기
print(sum(200,300))

15150
25250

In [20]:
import numpy as np

np.arange(200,301)

array([200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300])

In [21]:
import numpy as np
def sum(*args):
    sum=0
    for i in args:
        sum += i
    return sum

sum(200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212,
       213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225,
       226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238,
       239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251,
       252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264,
       265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277,
       278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290,
       291, 292, 293, 294, 295, 296, 297, 298, 299, 300)

25250

#### sort, sorted 모두 key, reverse 매개변수를 갖고 있다.
- reverse : 기본값은 reverse=False(오름차순), reverse=True를 매개변수로 입력하면 내림차순으로 정렬
- key : 정렬을 목적으로 하는 함수를 값으로 넣는다. lambda를 이용할 수 있고 key 값을 기준으로 정렬되고 기본값은 오름차순

In [22]:
#[과제] strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
strings.sort(key = lambda x:len(set(x)))
strings[::-1]

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [12]:
#[과제] 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요,
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
s_list=list(strings)
s_list.sort(key=lambda x:len(set(x)))     #기본 정렬(오름차순)
# 'tuple' object has no attribute 'sort'
print(s_list[::-1])     #거꾸로 출력(내림차순으로 나오게)

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [14]:
#[과제]  url에서 호스트 도메인을 추출하여 출력하세요.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

x = url.split('/')
x[2]

'news.naver.com'

In [25]:
#[과제] url에서 쿼리문을 추출하여 출력하세요.
# url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

do=url.find('?')
print(do)

print(url[do+1:])   #쿼리문 전체

qr=[]
qr=url[do+1:].split('&')   #각 '변수=값' 분리
print(qr)

35
mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601
['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']

In [16]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
tmp = url.split('?')
queries = tmp[1].split('&')
for query in queries:
    print(query)

mode=LSD
mid=shm
sid1=105
oid=028
aid=0002334601